body
{
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit',sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card
{
    background: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.nft_data
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.card img
{
    width:100%;
    border-radius: 5px;
}

.price_time
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.price, .time
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-size: 15px;
    width: 40%;
}

.price img, .time img
{
    margin:0 4px;
}

.time img
{
    width: 11%;
}

.price img
{
    width: 6%;
}

.nft_creator
{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px 0;
}

.nft_creator img
{
    width: 15%;
    border:1px solid white;
    border-radius: 50%;
    margin: 0 15px;
}
.nft_creator p
{
    padding-right:5px;
}

.nft_name
{
    font-size: 20px;
}

.nft_desc
{
    font-size: 18px;
}

.price_time, .nft_desc, .nft_name
{
    margin: 10px 0;
}

.white
{
    color: white;
}

.blue
{
    color:hsl(215, 51%, 70%);
}